.algo{
    color: black;
    text-decoration: none;
}
.algo2{
    color: black;
    text-decoration: none;
}
.algo3{
    color: black;
    text-decoration: none;
}
.tabla{
    text-align: center;
}
.tabla{
    top: 500px;
}

.btn{

    text-align: center;
}